-- 1. Crear la base de datos...
CREATE DATABASE testGrupoDigitalBank;

USE testGrupoDigitalBank;

-- 1. Creación de las tablas...
CREATE TABLE Gender (
    Id        UNIQUEIDENTIFIER  NOT NULL  DEFAULT NEWID(),
    Name      VARCHAR(20)       NOT NULL,
    IsActive  BIT               NOT NULL  DEFAULT 1,
    CreatedAt DATETIME          NOT NULL  DEFAULT GETDATE(),
    UpdatedAt DATETIME          NULL      DEFAULT NULL,
    CONSTRAINT PK_Gender PRIMARY KEY (Id),
    CONSTRAINT UQ_Gender_Name UNIQUE (Name)
);
CREATE TABLE [User] (
    Id          UNIQUEIDENTIFIER  NOT NULL  DEFAULT NEWID(),
    Names       VARCHAR(100)      NOT NULL,
    DateOfBirth DATETIME          NOT NULL,
    IdGender    UNIQUEIDENTIFIER  NOT NULL,
    IsActive    BIT               NOT NULL  DEFAULT 1,
    CreatedAt   DATETIME          NOT NULL  DEFAULT GETDATE(),
    UpdatedAt   DATETIME          NULL      DEFAULT NULL,
    CONSTRAINT PK_User            PRIMARY KEY (Id),
    CONSTRAINT UQ_User_Names      UNIQUE (Names),
    CONSTRAINT FK_User_Gender     FOREIGN KEY (IdGender) REFERENCES Gender (Id)
);

-- 2. Creación de los indixes para las consultas...
CREATE INDEX IX_Gender_Name     ON Gender (Name);
CREATE INDEX IX_Gender_IsActive ON Gender (IsActive);
CREATE INDEX IX_User_Names       ON [User] (Names);
CREATE INDEX IX_User_IdGender    ON [User] (IdGender);
CREATE INDEX IX_User_IsActive    ON [User] (IsActive);
CREATE INDEX IX_User_DateOfBirth ON [User] (DateOfBirth);

-- 3. Cración de los disparadores para los campos UpdateAt.
CREATE TRIGGER TR_Gender_UpdatedAt
ON Gender
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Gender
    SET UpdatedAt = GETDATE()
    FROM Gender g
    INNER JOIN inserted i ON g.Id = i.Id;
END;
CREATE TRIGGER TR_User_UpdatedAt
ON [User]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [User]
    SET UpdatedAt = GETDATE()
    FROM [User] u
    INNER JOIN inserted i ON u.Id = i.Id;
END;

-- 4. Insertar datos maestros...
INSERT INTO Gender(Name) Values
    ('Femenino'),
    ('Masculino');

-- 5. Vista para traer los géneros activos...
CREATE VIEW VW_Genders
AS
    SELECT
        Id,
        Name,
        IsActive
    FROM Gender;

-- 6. Vista para traer los géneros activos...
CREATE VIEW VW_Users
AS
    SELECT
        usr.Id,
        usr.Names,
        usr.DateOfBirth,
        usr.IsActive,
        usr.CreatedAt,
        usr.UpdatedAt,
        gen.Id AS IdGender,
        gen.Name AS NameGender
    FROM [User] usr
        INNER JOIN Gender gen ON usr.IdGender = gen.Id;

-- 7. Procedimiento almacenado para traerme los géneros activos...
CREATE PROCEDURE SP_Get_Genders 
    @isActive BIT
AS
BEGIN
	SELECT * FROM VW_Genders WHERE IsActive = @isActive;
END;

-- 7. Procedimiento almacenado para traerme los usuarios...
CREATE PROCEDURE SP_Get_Users 
AS
BEGIN
	SELECT * FROM VW_Users;
END;

-- 8. Procedimiiento almacenado para CRUD de usuarios...
CREATE PROCEDURE SP_CRUD_User
    @action      VARCHAR(20),
    @idUser      UNIQUEIDENTIFIER = NULL,
    @names       VARCHAR(100)     = NULL,
    @dateOfBirth DATETIME         = NULL,
    @idGender    UNIQUEIDENTIFIER = NULL
AS
BEGIN
    IF @action = 'POST'
        BEGIN
            IF EXISTS (SELECT 1 FROM Gender WHERE Id = @idGender)
                BEGIN
                    INSERT INTO [User] (Names, DateOfBirth, IdGender)
                    VALUES (@names, @dateOfBirth, @idGender);
                    SELECT 1 AS State, 'Usuario creado correctamente.' AS Message;
                END
            ELSE
                BEGIN
                    SELECT 0 AS State, 'El género especificado no existe.' AS Message;
                END
        END
    ELSE IF @action = 'PUT'
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM [User] WHERE Id = @idUser)
                BEGIN
                    SELECT 0 AS State, 'Usuario no encontrado.' AS Message;
                END
            ELSE IF NOT EXISTS (SELECT 1 FROM Gender WHERE Id = @idGender)
                BEGIN
                    SELECT 0 AS State, 'El género especificado no existe.' AS Message;
                END
            ELSE
                BEGIN
                    UPDATE [User]
                    SET Names       = @names,
                        DateOfBirth = @dateOfBirth,
                        IdGender    = @idGender
                    WHERE Id = @idUser;
                    SELECT 1 AS State, 'Usuario actualizado correctamente.' AS Message;
                END
        END
    ELSE IF @action = 'DELETE'
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM [User] WHERE Id = @idUser)
                BEGIN
                    SELECT 0 AS State, 'Usuario no encontrado.' AS Message;
                END
            ELSE
                BEGIN
                    DELETE FROM [User]
                    WHERE Id = @idUser;
                    SELECT 1 AS State, 'Usuario eliminado correctamente.' AS Message;
                END
        END
    ELSE IF @action = 'GET'
        BEGIN
            SELECT
                usr.Id,
                usr.Names,
                usr.DateOfBirth,
                usr.IsActive,
                usr.CreatedAt,
                usr.UpdatedAt,
                gen.Id AS IdGender,
                gen.Name AS NameGender
            FROM [User] usr
                INNER JOIN Gender gen ON usr.IdGender = gen.Id
                ORDER BY usr.Names ASC;
        END
    ELSE
        BEGIN
            SELECT 0 AS State, 'Acción no reconocida. Use: POST, PUT, DELETE, GET, GET_BY_ID.' AS Message;
        END
END;